* {
	margin: 0px; 
	padding: 0px;
}

body {
	background: #f4f4f4;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

i {
	color: #0EC1DE;
}

table{
   
    table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
td{
    width:100%;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

ul li {
	list-style: none;
	float: left;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*课程选择开始*/
.course-select {
	margin-top: 20px; margin-left: 30px; width: 100%;
}
.course-select label {
	border:1px solid #108ee9; line-height: 28px; margin: 0px; padding: 0px;
}

.course-select ul li {
	list-style: none;
	float: left;
}
/*课程选择结束*/

/*搜索框开始*/
.selectDiv {
	width: 500px; height: 30px; float: right;border: 1px solid #C0C0C0; margin-right: 60px;
}

.selectInput {
	width: 398px; height: 30px; padding-left: 10px;
}
.selectButton {
	width: 100px; height: 30px; float: right;
}
/*搜索框结束*/

/*筛选框开始*/
.filterDiv {
	width: 95%; height: 250px;  margin-left: 30px; margin-top: 20px; border:1px solid #CCC;
	position: relative; top: 0px; left: 0px;
	background: #FFF;
}
.filterDiv ul li {
	 height: 30px; margin-left: 70px; color: blue; font-size: 20px; text-align: center;
}
.filterDiv .gradeFilter {
	width:1000px; position: absolute; top: 40px; left: 30px;
}

.filterDiv .classFilter {
	width:1000px; position: absolute; top: 80px; left: 30px;
}

.filterDiv .sexFilter {
	width:1000px; position: absolute; top: 120px; left: 30px;
}

.filterDiv .courseFilter {
	width:1000px; position: absolute; top: 160px; left: 30px;
}

.filterDiv .statusFilter {
	width:1000px; position: absolute; top: 200px; left: 30px;
}

.filterDiv span {
	float: left;width: 100px; height: 30px; font-size: 20px; text-align: center;
}

.filterDiv .courseFilter ul li {
	 overflow: hidden;
}

.isFilter {
	width: 100px; height: 40px; line-height: 40px; text-align: center;
	/*position: absolute; top: 140px; right: 30px; */
	margin-top: 10px; margin-right: 30px;float: right;
	background: #CCC;
}

.filterDiv .isFilter2 {
	width: 100px; height: 40px; line-height: 40px; text-align: center;
	position: absolute; top: 0px; right: 0px; 
	/*margin-top: 10px; margin-right: 30px;float: right;*/
	background: #CCC;
}
/*筛选框结束*/

/*批阅实验报告开始*/
.report-container {
	width: 90%; height: 1200px; padding: 10px; margin:20px 5%; background: #f4f4f4;
}

.report-padding {
	width: 100%; height: 100%; background: #FFF; position: relative; top: 0px; left: 0px; 
}

.report-title {
	margin-left: 30px; padding-top: 10px; width: 150px;  height:70px; line-height:50px; padding-bottom:10px;  border-bottom: 2px blue solid;
}

.report-title-left {

}

.report-title-right {
	float: right;width: 170px; display: inline; position: absolute; top: 20px; right: 10px;
}

.report-msg {
	width: 95%; height: 30px; line-height: 30px; margin-left:30px; margin-top:10px; background:#ecf6fd; border-radius: 5px; padding-left: 10px;
}


.reportDiv {
	width: 95%; margin-left:30px; margin-top:20px;
	
}
.reportTable {
	height: 600px;
	overflow: hidden;
}

.reportTable thead {
	background: #F7F7F7; padding:10px; margin:10px; height:50px; line-height: 50px;
	overflow: hidden;
}

.reportTable thead th {
	padding-left:10px;
	padding-right:10px;
}

.reportTable tbody {
	background:#FFF; height:50px; line-height:50px;
}

.reportTable tbody tr {
	border-bottom: 1px solid #F0F0F0;
}

.reportTable tbody td {
	padding-left:10px;
	padding-right:10px;
}

/*批阅实验报告结束*/



/*状态筛选开始*/
.publishedFilterDiv {
	width: 100px; height: 100px; 
	border:1px solid #F0F0F0;
	border-radius: 5px; position: absolute; left:40px; top:50px; background: #FFF; display: none;
}

.publishedFilterDiv .publishedFilterRadio {
	width: 100%; height: 30px; margin-left: 10px;
}

.publishedFilterDiv .submit {
	float: left; margin-left: 5px; border:0; background: #FFF; color: #00C1DE;
}

.publishedFilterDiv .reset {
	float: right; margin-right: 5px; border:0; background: #FFF; color: #00C1DE;
}