.navbar-default {
	height: 80px;
	background-color:#343A40;
	color:#8097A0;
	font-size: 20px;

}

.navbar-collapse {
	margin-top:14px;
}

.navbar-default .navbar-nav li a:hover {
	color:#F0F0F0;
}